<div class="container-fluid table-responsive" ng-init="freeSlotCtrl.initSearch()">
    <div class="alert alert-danger" ng-show="error !== undefined" style="padding:2px;margin-bottom:2px;">
         {{error}}
         <a style="float: right" ng-click="removeErrorMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="message !== undefined" style="padding:2px;margin-bottom:2px;">
         {{message}}
         <a style="float: right" ng-click="removeMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="messageAdmin !== undefined" style="padding:2px;margin-bottom:2px;">
         {{messageAdmin}}
         <a style="float: right" ng-click="removeMessageAdmin()">x</a>
   </div>
    <div id="calendarDays" class="container-fluid" style="float:left;width:20%;">
        <table class="table-responsive table-hover" 
            style="margin-left: 2px;margin-bottom:5px;padding:0px;width:100%;" align="center">
            <tr>
                <td >
                    <button ng-click="freeSlotCtrl.initMonthData(freeSlotCtrl.date.month()-1, freeSlotCtrl.date.month(freeSlotCtrl.date.month()-1).year())">&lt;</button>
                </td>
                <td colspan="5" style="text-align:center;padding:2px;">
                    {{freeSlotCtrl.date.format("MMMM YYYY")}}
                </td>
                <td colspan="2">
                    <button ng-click="freeSlotCtrl.initMonthData(freeSlotCtrl.date.month()+1, freeSlotCtrl.date.month(freeSlotCtrl.date.month()+1).year())">&gt;</button>
                </td>
            </tr>
            <tr>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY1_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY2_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY3_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY4_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY5_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY6_LABEL' | i18n}}
                </th>
                <th style="text-align:center;padding:2px;margin-right:5px;">
                   {{'AGENDA_DAY7_LABEL' | i18n}}
                </th>
            </tr>
            <tr ng-repeat="monthWeek in freeSlotCtrl.monthWeeks track by $index" align="center">
                <td ng-repeat="monthDay in monthWeek.monthDays track by $index" 
                    ng-class="{selectedClass: freeSlotCtrl.selectedDay === monthDay.day && freeSlotCtrl.selectedMonth === monthDay.month && freeSlotCtrl.selectedYear === monthWeek.year, todayClass:freeSlotCtrl.todayDate === monthDay.day && freeSlotCtrl.todayMonth === monthDay.month && freeSlotCtrl.todayYear === monthWeek.year}" 
                    ng-click="freeSlotCtrl.selectDay(monthDay, monthWeek.week,monthWeek.year)" 
                    style="margin: 5px;padding:2px;font-weight: normal;text-align:center;" >
                    {{monthDay.day}}
                </td>
            </tr>
        </table>
    
	    <div id="comonInfo" style="margin-bottom:20px;width:100%;">
	    	<p>
	    		<button ng-click="freeSlotCtrl.initWeeks()">
        			{{'TODAY_LABEL' | i18n}}
      			</button>
      		</p>
	        <p>{{'FREE_SLOT_SELECTED_DAY_LABEL' | i18n}} {{freeSlotCtrl.day}}</p>
	    </div>
	    <form name="searchFreeSlotForm"
	    style="width:100%;"
	        ng-submit="searchFreeSlotForm.$valid && freeSlotCtrl.searchFreeSlot()" novalidate>
	        <div class="input-group">
	            <div  style="width:50%;float: left;margin-bottom:20px;">
	                <label style="">{{'FREE_SLOT_SCHEDULE_FROM_LABEL' | i18n}}</label><br>
	                <select ng-model="freeSlotCtrl.scheduleStart" required>
	                    <option ng-repeat="timeStart in freeSlotCtrl.schedules track by $index"
                      ng-disabled="freeSlotCtrl.scheduleEnd !== undefined && timeStart >= freeSlotCtrl.scheduleEnd"
                       value="{{timeStart}}">{{freeSlotCtrl.schedulesLabels[$index]}}</option>
	                </select>
	            </div>
	            <div style="width:50%;float: right;margin-bottom:20px;">
	                <label>{{'FREE_SLOT_SCHEDULE_TO_LABEL' | i18n}}</label><br>
	                <select ng-model="freeSlotCtrl.scheduleEnd" required>
	                    <option ng-repeat="timeEnd in freeSlotCtrl.schedules track by $index" 
                      ng-disabled="freeSlotCtrl.scheduleStart !== undefined && timeEnd <= freeSlotCtrl.scheduleStart"
                      value="{{timeEnd}}">{{freeSlotCtrl.schedulesLabels[$index]}}</option>
	                </select>
	            </div>
	        </div>
	        <input class="btn btn-success" ng-hide="dataLoading === true" type="submit" value="{{'FREE_SLOT_SEARCH_LABEL' | i18n}}" style="margin-bottom:20px;" ng-disabled="searchFreeSlotForm.$invalid" required/>                  
	        <img ng-show="dataLoading === true" src="/images/loading.svg" 
	            alt="..." style="width: 10%; height: 10%"/>
          <div>
              <div ng-messages="searchFreeSlotForm.$error" style="color:maroon" role="alert">
                 <div ng-message="required">{{'FREE_SLOT_FORM_ERROR' | i18n}}</div>
              </div>
           </div>
	    </form>
	    
	</div>
	<div id="listFreeRoomsForSlot"
	ng-show="availableRooms !== undefined && dataLoading === false"
	style="float:right;width:80%;">
	        <p ng-show="availableRooms.length <= 0">{{'FREE_SLOT_NO_ROOM_MESSAGE' | i18n}}</p>
	        <p ng-show="availableRooms.length > 0">{{'FREE_SLOT_FREE_ROOM_LABEL' | i18n}}</p>
	        <ul class="list-group" ng-show="availableRooms.length > 0">
	            <li class="list-group-item" ng-repeat="availableRoom in availableRooms">
	                <p>
	                	{{availableRoom}}
		                <a ng-click="freeSlotCtrl.bookFreeSlot(availableRoom, $index)"
		                	ng-show="username !== undefined && slotsStatuses[$index].isLoadingData !== true && slotsStatuses[$index].isNewlyBooked !== true"
	                    	style="float: right;margin-left:5px;">
	                        <button class="btn btn-info" style="vertical-align:middle;">
	                            {{'FREE_SLOT_BOOK_ROOM_LABEL' | i18n}}
	                        </button>
	                    </a>
	                    <img ng-show="slotsStatuses[$index].isLoadingData === true" src="/images/loading.svg" style="width: 2%; height: 2%;float: right;"
		            alt="..." />
	                    <button class="btn btn-success" 
								ng-show="username !== undefined && slotsStatuses[$index].isLoadingData !== true && slotsStatuses[$index].isNewlyBooked === true"
	                    		style="vertical-align:middle;float: right;">
	                        {{'FREE_SLOT_ROMM_BOOKED_MESSAGE' | i18n}}
	                    </button>
                    </p>
	            </li>
	        </ul>
	    </div>

</div>

