<div class="col-md-10 col-md-offset-2 container-fluid" >
    <div class="alert alert-danger" ng-show="error !== undefined" style="padding:2px;margin-bottom:2px;">
         {{error}}
         <a style="float: right" ng-click="removeErrorMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="message !== undefined" style="padding:2px;margin-bottom:2px;">
         {{message}}
         <a style="float: right" ng-click="removeMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="messageAdmin !== undefined" style="padding:2px;margin-bottom:2px;">
         {{messageAdmin}}
         <a style="float: right" ng-click="removeMessageAdmin()">x</a>
   </div>
   <div class="container-fluid" style="width:100%;">
       <ul class="nav nav-pills">
          <li class="active"><a data-toggle="pill" href="#adminAuthKeyGenerator">G&eacute;n&eacute;ration clef administrative</a></li>
          <li><a data-toggle="pill" href="#metrics">M&eacute;trique</a></li>
          <li><a data-toggle="pill" href="#roomManagement" ng-click="initRooms()">Gestion des salles</a></li>
          <li><a data-toggle="pill" href="#bookerManagement" ng-click="initBookers()">Gestion des Utilisateurs</a></li>
        </ul>
        <div class="tab-content">
            <div id="adminAuthKeyGenerator" class="tab-pane fade in active">
                <h2>G&eacute;n&eacute;rer clef administrative</h2>
                <a ng-click="adminConsoleCtrl.generateAdminToken()">
                    <button type="button" class="btn btn-info" style="margin: 8px;" >
                        G&eacute;n&eacute;rer
                    </button>
                </a>
                <p>Clef : {{adminToken}}</p>
                <p>Fin de validit&eacute; : {{adminTokenEndTime}}</p>
            </div>
            <div id="metrics" class="tab-pane fade">
                <h2>ElasticSearch</h2>
            </div>
            <div id="roomManagement" class="tab-pane fade">
                <ul id="roomList" class="list-group">
                    <li class="list-group-item" ng-repeat="room in rooms">
                        <input type="text" 
                        style="width:65%"
                        ng-model="room.name" 
                        ng-disabled="room.isNew === false && room.oldName === undefined" required />
                        <a ng-click="adminConsoleCtrl.deleteRoomDB(room)"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-danger">
                                Supprimer
                            </button>
                        </a>
                        <a ng-click="adminConsoleCtrl.modifyRoom(room)" ng-show="room.oldName === undefined"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-warning" 
                                ng-show="room.isNew === false && room.oldName === undefined">
                                Modifier
                            </button>
                        </a>
                        <a ng-click="adminConsoleCtrl.updateRoomInDB(room)"  ng-show="room.oldName !== undefined"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-success" ng-show="room.isNew === true || room.oldName !== undefined">
                                Valider
                            </button>
                        </a>
                        
                    </li>
                </ul>
                <a ng-click="adminConsoleCtrl.addNewRoom()">
                    <button class="btn btn-info">
                        Ajouter une salle
                    </button>
                </a>
            </div>
            <div id="bookerManagement" class="tab-pane fade">
                <h2>Utilisateurs</h2>
                <ul id="bookersList" class="list-group">
                    <li class="list-group-item" ng-repeat="booker in bookers">
                        <input type="text" 
                        style="width:30%"
                        ng-model="booker.booker" 
                        trusted-html
                        ng-disabled="booker.isNew === false && booker.oldName === undefined" required>
                        </input>
                        <span class="glyphicon glyphicon-stop" 
                            ng-style="{color:booker.color}"
                            ng-show="booker.isNew === false && booker.oldName === undefined" 
                            style="padding:0px;margin-left:5px;"></span>
                        <input type="text" 
                        style="width:30%"
                        ng-model="booker.color" 
                        ng-hide="booker.isNew === false && booker.oldName === undefined" required />
                        <a ng-click="adminConsoleCtrl.deleteBookerDB(booker)"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-danger">
                                Supprimer
                            </button>
                        </a>
                        
                        <a ng-click="adminConsoleCtrl.modifyBooker(booker)" ng-show="booker.oldName === undefined"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-warning" 
                                ng-show="booker.isNew === false && booker.oldName === undefined">
                                Modifier
                            </button>
                        </a>
                        <a ng-click="adminConsoleCtrl.updateBookerInDB(booker)"  ng-show="booker.oldName !== undefined"
                        style="float: right;margin-left:5px;">
                            <button class="btn btn-success" ng-show="booker.isNew === true || booker.oldName !== undefined">
                                Valider
                            </button>
                        </a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>