<div class="col-md-6 col-md-offset-3">
    <h2>G&eacute;n&eacute;rer clef administrative</h2>
    <a ng-click="adminConsoleCtrl.generateAdminToken()">
        <button type="button" class="btn btn-info" style="margin: 8px;" >
            G&eacute;n&eacute;rer
        </button>
    </a>
    <p>Clef : {{adminToken}}</p>
    <p>Fin de validit&eacute; : {{adminTokenEndTime}}</p>
    <div class="alert alert-danger" ng-show="error !== undefined">
      <strong>Echec de l'authentification !</strong> {{error}}
    </div>
</div>