<div class="container-fluid table-responsive" ng-init="calendarCtrl.initCalendar()">
   <div class="alert alert-danger" ng-show="error !== undefined" style="padding:2px;margin-bottom:2px;">
         {{error}}
         <a style="float: right" ng-click="removeErrorMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="message !== undefined" style="padding:2px;margin-bottom:2px;">
         {{message}}
         <a style="float: right" ng-click="removeMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="messageAdmin !== undefined" style="padding:2px;margin-bottom:2px;">
         {{messageAdmin}}
         <a style="float: right" ng-click="removeMessageAdmin()">x</a>
   </div>
   <ul class="nav nav-pills" style="margin-bottom: 5px;padding:0px;">
      <li ng-repeat="room in rooms track by $index" 
         ng-class="{active: room.room === currentRoom}"
         style="margin-bottom: 0px;padding:0px;"
         >
         <a data-toggle="tab"
         style="padding:5px;margin:0px;" 
         ng-click="calendarCtrl.selectRoom($index)">{{room.room}}</a>
      </li>
   </ul> 
   <div class="innerInfoPage" >
   <div   class="container-fluid innerInfoContent" style="overflow-y:scroll;overflow-x: hidden;font-size:12px;margin: 0px;padding:0px;float: left;">
      <table class="table-responsive table-hover" 
         style="margin-left: 2px;margin-bottom:5px;padding:0px;" align="center">
         <tr>
            <td >
              <button ng-click="calendarCtrl.initWeekData(calendarCtrl.date.month()-1)"><</button>
            </td>
            <td colspan="5" style="text-align:center;padding:2px;">
               {{calendarCtrl.date.format("MMMM YYYY")}}
            </td>
            <td colspan="2">
              <button ng-click="calendarCtrl.initWeekData(calendarCtrl.date.month()+1)">></button>
            </td>
         </tr>
         <tr>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_MONDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_TUESDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_WEDNESDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_THURSDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_FRIDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_SATURDAY_LABEL' | i18n}}
            </th>
            <th style="text-align:center;padding:2px;margin-right:5px;">
               {{'AGENDA_SUNDAY_LABEL' | i18n}}
            </th>
         </tr>
         <tr ng-repeat="monthWeek in calendarCtrl.monthWeeks track by $index" ng-click="calendarCtrl.setWeek($index)" align="center">
            <th ng-class="{selectedClass: week === monthWeek.week  && monthWeek.year===calendarCtrl.todayYear, todayClass:monthWeek.week===calendarCtrl.todayWeek && monthWeek.year===calendarCtrl.todayYear}" ng-repeat="monthDay in monthWeek.monthDays track by $index" 
               style="margin: 5px;padding:2px;font-weight: normal;text-align:center;" >
               {{monthDay.day}}
            </th>
         </tr>
      </table>
      <div id="bookingInfo">
         <div class="panel-group">
            <div class="panel panel-default">
               <div class="panel-heading" style="padding: 5px;">
                  <p class="panel-title" style="font-size:14px;">
                     {{'CALENDAR_BOOKING' | i18n}}
                  </p>
               </div>
               <div id="bookingFormColl" class="panel-collapse collapse in" style="margin-left: 5px;">
                  <form name="bookingDetailForm" ng-hide="booking == null" 
                     ng-submit="bookingDetailForm.$valid && calendarCtrl.addBooking()" novalidate>
                     <div class="input-group" >
                        <label>{{'CALENDAR_BOOKING_LABEL' | i18n}}</label>
                        <select style="width:90%;" ng-model="booking.day" ng-disabled="username === undefined || username === ''">
                           <option ng-repeat="day in calendarCtrl.days track by $index" value="{{day}}">{{day}}</option>
                        </select>
                     </div>
                     <div class="input-group">
                        <div  style="width:50%;float: left;">
                           <label style="">{{'CALENDAR_SCHEDULE_FROM_LABEL' | i18n}}</label>
                           <select ng-model="booking.scheduleStart" ng-disabled="username === undefined || username === ''">
                              <option ng-repeat="timeStart in calendarCtrl.schedules track by $index" value="{{timeStart}}">{{calendarCtrl.schedulesLabels[$index]}}</option>
                           </select>
                        </div>
                        <div style="width:50%;float: right;">
                           <label>{{'CALENDAR_SCHEDULE_TO_LABEL' | i18n}}</label><br>
                           <select ng-model="booking.scheduleEnd" ng-disabled="username === undefined || username === ''">
                              <option ng-repeat="timeEnd in calendarCtrl.schedules track by $index" value="{{timeEnd}}">{{calendarCtrl.schedulesLabels[$index]}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="input-group">
                        <label>{{'CALENDAR_ROOM_LABEL' | i18n}}</label>
                        <input style="width:90%;" type="text" name="room" ng-model="currentRoom" disabled required /> 
                     </div>
                     <div class="input-group" >
                        <label>{{'CALENDAR_BOOKED_BY_LABEL' | i18n}}</label>
                        <input style="width:90%;" type="text" name="bookedBy" ng-model="booking.bookedBy" disabled  required />
                     </div>
                     <div class="input-group">
                        <label>{{'CALENDAR_BOOKING_LABEL' | i18n}}</label>
                        <input type="checkbox" name="isValidated" ng-checked="booking.isValidated === true" disabled/>
                         {{'CALENDAR_VALIDATED_LABEL' | i18n}}
                     </div>
                     <input class="btn btn-success" ng-hide="dataLoading === true || booking.bookedBy === username && booking.isValidated === true" type="submit" 
                     value="{{'CALENDAR_BOOK_LABEL' | i18n}}" style="margin: 3px;" required/>                  
                     <img ng-show="dataLoading === true" src="/images/loading.svg" 
                        alt="Authentification en cours..." style="width: 5%; height: 5%"/>
                     <a ng-click="calendarCtrl.validateBooking()" style="padding:0px;">
                        <button ng-show="isAdmin === true && isExistingBookingSelected === true && booking.isValidated === false"
                        class="btn btn-info" style="white-space: normal;margin: 3px;" >
                           {{'CALENDAR_VALIDATE_BOOKING_LABEL' | i18n}}
                        </button>
                     </a>
                     <a ng-click="calendarCtrl.deleteBooking()" style="padding:0px;margin:0px;">
                           <button ng-show="booking.bookedBy === username && dataLoading !== true" 
                           class="btn btn-danger" style="white-space: normal;padding:4px;margin:0px;margin-top:3px;margin-bottom:3px" >
                              {{'CALENDAR_DELETE_BOOKING_LABEL' | i18n}}
                           </button>
                     </a>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div id="bookersInfo" class="panel-group" style="overflow: auto;">
         <div class="panel panel-default">
            <div class="panel-heading" style="padding: 5px;">
               <p data-toggle="collapse" href="#bookersCollapse" class="panel-title" style="font-size:14px;">
                  {{'CALENDAR_BOOKERS' | i18n}}
               </p>
            </div>
            <div id="bookersCollapse" class="panel-collapse collapse">
               <ul class="list-group">
                  <li ng-repeat="booker in bookerColorsStyles track by $index" 
                     class="list-group-item" 
                     style="padding:5px;"
                     ng-hide="booker.booker === ''">
                     {{booker.booker}}
                     <span class="glyphicon glyphicon-stop" 
                        ng-style="{color:booker.color}"
                        style="padding:0px;float: right;"></span>
                  </li>
               </ul>
            </div>
         </div>
      </div>

   </div>
   </div>
   <div style="margin: 0;margin-bottom:10px;width:85%;float: right;" >
        <p>
          {{weekStartEndDates}}
          <button ng-click="calendarCtrl.initWeekData(calendarCtrl.todayMonth, calendarCtrl.todayYear)">
            {{'TODAY_LABEL' | i18n}}
          </button>
        </p>
        
      <div >
         <table class="table-responsive table-bordered table-hover" style="margin: 0px;width:98.5%;" border>
            <tr class="active" >
               <th style="width:2%;"></th>
               <th style="text-align: center;width:14%;" ng-repeat="day in calendarCtrl.days track by $index">{{ day }}</th>
            </tr>
         </table>
         <div style="height:10px;">
         </div>
      </div>
      <div class="innerCalendarPage" >
      <div class="innerCalendarContent"
      style="margin: 0;overflow: auto;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;">
         <table id="bookingsSlotsTable" class="table-responsive table-bordered table-hover" style="margin: 0;width:100%;">
            <tbody style="border-top: none;">
               <tr ng-repeat="schedule in calendarCtrl.schedules track by $index">
                  <td style="width:2%;text-align: center;" rowspan = "2" 
                     ng-hide="schedule === 24 || $index%2 !== 0">
                    {{calendarCtrl.schedulesLabels[$index]}}
                  </td>
                  <td ng-hide="schedule === 24" 
                     style="padding:0px;width:14%;overflow:hidden;"
                     ng-repeat="day in calendarCtrl.days track by $index" 
                     class="noselect upperBorderDotted" 
                     ng-class="{selectBookingSlot: calendarCtrl.isSelectBookingSlotClass(schedule, day)}">
                     <div style="width:92%;height: 20px; max-height:20px;float: left;">
                        <table id="bookingsTable" style="margin-bottom: 0px;" class="table noselect">
                           <tbody>
                              <tr>
                                 <td ng-repeat="bookingForSchedule in calendarCtrl.getScheduleBookedBy(day, week, year, schedule) track by $index"
                                    ng-click="calendarCtrl.selectBookingInDB(bookingForSchedule.split('$')[1])"
                                    ng-class="{validatedBooking: calendarCtrl.isBookingValidated(bookingForSchedule.split('$')[1])}"
                                    style="height: 20px; max-height:20px;padding:0px;overflow:auto;word-break: break-all;"
                                    ng-mouseup="calendarCtrl.mouseUp()"
                                    class="noselect"
                                    bgcolor="{{calendarCtrl.applyBookingColor(bookingForSchedule)}}"
                                    id="{{bookingForSchedule.split('$')[1]}}">
                                    {{bookingForSchedule.split('$')[0]}}
                                 </td>
                                 <td ng-show="calendarCtrl.hasBookingForSlot(day, week, year, schedule) === false"
                                 style="height: 20px; max-height:20px;padding:0px;overflow:hidden;border-top:none;word-break: break-all;"
                                 ng-mouseenter="calendarCtrl.mouseEnter(schedule, day)"
                                 ng-mousedown="calendarCtrl.mouseDown(day, week, year, schedule)"
                                 ng-mouseup="calendarCtrl.mouseUp()"
                                  >
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div >
                     <div style="width:8%;height: 20px; max-height:20px;float: right;"
                     ng-mouseenter="calendarCtrl.mouseEnter( schedule, day)" 
                     ng-mousedown="calendarCtrl.mouseDown(day, week, year, schedule)" 
                     ng-mouseup="calendarCtrl.mouseUp()" 
                     >
                     </div>                     
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      </div>
   </div>
</div>