<div class="col-md-6 col-md-offset-3" ng-init="loginCtrl.initLoginController()">
    <h2>{{'LOGIN_TITLE' | i18n}}</h2>
    <div class="alert alert-danger" ng-show="error !== undefined" style="padding:2px;margin-bottom:2px;">
         {{error}}
         <a style="float: right" ng-click="removeErrorMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="message !== undefined" style="padding:2px;margin-bottom:2px;">
         {{message}}
         <a style="float: right" ng-click="removeMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="messageAdmin !== undefined" style="padding:2px;margin-bottom:2px;">
         {{messageAdmin}}
         <a style="float: right" ng-click="removeMessageAdmin()">x</a>
   </div>
    <form name="form" ng-submit="loginCtrl.login()" role="form">
        <div class="form-group">
            <label for="username">{{'LOGIN_USERNAME_LABEL' | i18n}}</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
        </div>
        <div class="form-group">
            <label for="password">{{'LOGIN_PASSWORD_LABEL' | i18n}}</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="loginCtrl.password" required />
        </div>
        <div class="form-actions">
            <button ng-hide="dataLoading === true" type="submit" ng-disabled="form.$invalid || loginCtrl.dataLoading" class="btn btn-primary">{{'LOGIN_LOGIN_LABEL' | i18n}}</button>
            <img ng-show="dataLoading === true" src="/images/loading.svg" 
                alt="..." style="width: 5%; height: 5%"/>
            <a href="/register" class="btn btn-link">{{'LOGIN_REGISTER_LABEL' | i18n}}</a>
        </div>
    </form>
    

</div>