<div class="col-md-10 col-md-offset-2 container-fluid" ng-init="userConsoleCtrl.initUser()">
    <div class="alert alert-danger" ng-show="error !== undefined" style="padding:2px;margin-bottom:2px;">
         {{error}}
         <a style="float: right" ng-click="removeErrorMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="message !== undefined" style="padding:2px;margin-bottom:2px;">
         {{message}}
         <a style="float: right" ng-click="removeMessage()">x</a>
   </div>
   <div class="alert alert-success" ng-show="messageAdmin !== undefined" style="padding:2px;margin-bottom:2px;">
         {{messageAdmin}}
         <a style="float: right" ng-click="removeMessageAdmin()">x</a>
   </div>
   <div class="container-fluid" style="width:100%;">
      <div>
         <p>
            Vos informations:
            <a ng-click="userConsoleCtrl.enableUpdateSettings()" ng-show="room.oldName === undefined"
            style="margin-left:5px;">
                <button class="btn btn-warning" 
                    ng-show="isUpdating === false">
                    Modifier
                </button>
            </a>
         </p>
         <form name="userAccountForm" 
               ng-submit="userAccountForm.$valid && userConsoleCtrl.updateBookerSettings()" novalidate>
               <div class="input-group" style="width:65%;">
                  <label>Nom d'utilisateur :</label><br>
                  <input type="text" style="width:65%;" ng-model="booker.booker" ng-disabled="isUpdating === false" required />
               </div>
               <div class="input-group" style="width:65%;">
                  <label>Email :</label><br>
                  <input type="email" style="width:65%;" ng-model="booker.email" ng-disabled="isUpdating === false" required />
               </div>
               <div class="input-group" style="width:65%;">
                  <label>Mot de passe :</label><br>
                  <input type="password" style="width:65%;" ng-model="booker.password" ng-disabled="isUpdating === false" required />
               </div>
               <div class="input-group" style="width:65%;">
                  <label>Nouveau mot de passe (optionnel) :</label><br>
                  <input type="password" style="width:65%;" ng-model="booker.newPassword" ng-disabled="isUpdating === false"/>
               </div>
               <img ng-show="dataLoading === true" src="/images/loading.svg" 
                alt="Authentification en cours..." style="width: 5%; height: 5%"/>
               <input class="btn btn-success" ng-hide="dataLoading === true || isUpdating === false"
                      type="submit" value="Valider" style="margin: 3px;" required/>             
         </form>
      </div>

   </div>
</div>